@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --our-black: rgb(10, 10, 10);
  --our-orange: rgb(255, 178, 97);
  --nav-bg: rgb(5, 5, 5);
  --our-red: rgb(239, 81, 67);
  --warm-sand: rgb(254, 233, 206);
  --peach-cream: rgb(255, 243, 226);
  --dark-gray: rgb(78, 78, 78);
  --border-socials: rgba(234, 219, 200, 0.2);
  --c-activeNav: rgb(254, 233, 206);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-our-black: var(--our-black);
  --color-our-orange: var(--our-orange);
  --color-nav-bg: var(--nav-bg);
  --color-our-red: var(--our-red);
  --color-warm-sand: var(--warm-sand);
  --color-peach-cream: var(--peach-cream);
  --color-dark-gray: var(--dark-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-border-socials: var(--border-socials);
  ---color-activeNav: var(--c-activeNav);
}

@theme{
  --animate-slide-infinte: slideX 1.2s linear infinite;
  
  @keyframes slideX {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
  }
}



.slide-infinite {
  animation: slideX 2s infinite linear;
}

body {
  background: var(--our-black);
  color: var(--our-orange);
  font-family: Arial, Helvetica, sans-serif;
}
